.a1 {
    color: teal;
}
.a2{
    color: red;
}
.a3{
    color: blue;
}
.a4{
    color: orange;
}
.a5{
    color: purple;
}
.a6{
    color: olive;
}
.a8{
    color: fuchsia;
}
.a9{
    color: green;
}
.a10{
    background-color: red;
}
.a11{
    background-color: green;
}
.a12{
    background-color: blue;
}